@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts cdn */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(/public/header.svg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: right;
}
.glass {
  background: rgba(247, 247, 247, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(247, 247, 247, 0.3);
}

.roadmap {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/public/RoadmapBgImage.svg);
}
